body {
	background-color: #b2ebf2;
}

.black-text {
	color: black !important;
}

#main-div, #how-it-works-div, #faq-div {
	text-align: center;
	margin: 30px 50px 30px 50px;
}

#how-it-works-div, #faq-div {
	display: none;
	font-size: 1.2em;
	font-family: 'Poppins', sans-serif;
	line-height: 160%;
}

#imgurl {
	width: 50%;
	margin: auto;
}

#results {
	background-color: white;
	display: block;
	border-radius: 5px;
	width: 30%;
	margin: auto;
	padding: 10px;
}

/*
. is class
# is id
*/
#url-button {
	margin: 10px;
}

#link-button {
	margin: 10px;
}

.conceptBox {
	float:left; 
	margin-left:40px; 
	margin-top:15px;
	margin-bottom:30px;
	height:100%;
}